<?php
return [
    'adminEmail' => 'admin@example.com',
    'supportEmail' => 'support@example.com',
    'user.passwordResetTokenExpire' => 3600,
    'OC_files' => 'owncloud/remote.php/files/Projects/',
    'OCS' => 'owcloud/v1.php/cloud/',
];