<?php
$yiicfg = [
              'OC_files' => 'owncloud/remote.php/files/Projects/',
              'OCS' => 'https://USER:PASSWORD@localhost/owncloud/ocs/v1.php/cloud/',

              'WebDav' => 'https://USER:PASSWORD@localhost/',

              'DB_connect' => 'mysql:host=localhost;dbname=yiiComboUpdated',
              'DB_username' => 'USER',
              'DB_password' =>'PASSWORD',

              'OCDB_connect' => 'mysql:host=localhost;dbname=owncloud',
              'OCDB_username' => 'USER',
              'OCDB_password' => 'PASSWORD',
           ];
