<?php

namespace common\config;

/*********************************************************************
 * This is an example password configuration file. NOTE: It is important
 * that apache be locked down to redirect HTTP to HTTPS and that no
 * HTTP traffic is allowed on the server(s) that are running owncloud
 * or the yiicombo project.  The reason for this is that passwords
 * are sent by GET and POST between the yiicombo site and the owncloud
 * server.
 ***********************************************************************/

class yiicfg {

    const Baseurl = 'https://USERNAME:PASSWORD@OWNCLOUD-HOST-NAME/owncloud/';

    const OC_files = 'owncloud/remote.php/files/Projects/';
    const OCS = yiicfg::Baseurl . 'ocs/v1.php/cloud/';
    const OCS_SHARE = yiicfg::Baseurl . 'ocs/v1.php/apps/files_sharing/api/v1/';

    const WebDav = yiicfg::Baseurl . 'remote.php/files/Projects/';
    const HOST = 'Yiicombo Host Name';

    const DB_connect = 'mysql:host=localhost;dbname=yiicombo';
    const DB_username = 'YIICOMBO USER';
    const DB_password ='YIICOMBO PASSWORD';

    const OCDB_connect = 'mysql:host=localhost;dbname=owncloud';
    const OCDB_username = 'OC USER';
    const OCDB_password = 'OC PASSWORD';
}
