/**
 * @author Center of Excellence for Bioinformatics Research
 * This is the yii2-sii-file-mgr css
 * Which displays our projects in a nice tile format.
 */

.sii-filename-elips {
	width:auto;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sii-fileimage-icon {
	height: 10em;
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
}
