html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #333c36;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: white;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding-bottom: 100%;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    border-radius: 0px;
}

.btn {
     border-radius: 0px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}
.navbar {
    background-color: #333c36;
    height: 51px;
}

.breadcrumb {
    background-color: #e3e4db;
}

.active > li {
    background-color: white;
}
 /*
.btn-danger {
    background-color: #93ACB5;
    outline-color: #789099;
    outline-width: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(78, 90, 99, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(78, 90, 99, .15), 0 1px 1px rgba(0, 0, 0, .075);

} */

.btn-danger.active{
    background-color: #333c36;
}

.subhead {
    padding-bottom: 100px;
    padding-top: -100px;

}

#poop {
    padding-bottom: 30px;
    margin-top: -100px;
    color:white;
}

#sciencebg {
    background-image: url("https://images.unsplash.com/uploads/14114005966624c90b007/60cc31c4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=ccd60e2befc85b88cae88af2a1355ff7");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    top:0;
    left: 0;

}

#logo {
    margin-top: -20px ;

}
/* deafault bootstrap */
.btn-primary {
  color: #fff;
  background-color: #333c36;
  border-color: #2b332d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #434941;
    border-color: #2b332d;
}
.btn-primary:active, .btn-primary.active {
    background: #66756b;
    box-shadow: none;
    border-color: #2b332d;
}

h4 {
    font-family: helvetica;
    font-weight: 100;
    line-height: 200%;
}

.project {
    height: 200px;
    width: 300px;
    background-color: #e3e4db;
    padding:10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    position: relative;
}

.plink {
    color: #000 !important;
}

.project .title {
    font-family: helvetica;
    font-weight: 600;
    font-size: 17;
    margin-bottom: 5px;
}

.project .description {
    font-family: helvetica;
    font-weight: 100;
}

.project .owner {
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
}
.proj-btn {
   margin-left: 5px;
   margin-top: -32px;
}

.name-display {
    font-size: 30px;
}

.description-display {
    font-size: 18px;
    font-weight: 200;
}
